{% extends "base.html" %}
{% load static %}

{% block title %}Facturación{% endblock %}

{% block content %}
<h3 style="text-align: center">Estás logeado como Administrador</h3>
<br>

<div class="card shadow p-5">
    <div class="text-center">
     <h1 class="display-4">Facturación</h1>
     <button class="btn btn-secondary m-3" onclick="window.location.href='/usuarios/';" style="position: fixed; top: 10px; left: 10px; z-index: 1000;">Panel de Usuarios</button>
        <nav class="my-4">
           <a href="/cliente/" class="btn btn-primary m-2">Clientes</a>
         <a href="/producto/" class="btn btn-primary m-2">Productos</a>
          <a href="/factura/" class="btn btn-primary m-2">Facturas</a>
          <a href="/ver-facturas/" class="btn btn-primary m-2">Ver Facturas</a>
     </nav>
     <button class="btn btn-danger mt-3" onclick="window.location.href='/logout/';" style="position: fixed; top: 10px; right: 10px; z-index: 1000;">Cerrar Sesión</button>
    </div>
</div>
{% endblock %}
